In [1]:
print("   /|")
print("  / |")
print(" /  |")
print("/___|")

   /|
  / |
 /  |
/___|

<b>Variables and Data Types</b>

In [2]:
name = "Gabriel Jesus"
age = 25
born = "Apr 03, 1997"
birthplace = "Sao Paulo"
club = "Arsenal"
country = "Brazil"

print(name +" is a professional football player who plays as a striker for "+club+" and the Brazil national team.")
print("Born on "+born+" in "+birthplace+",")
print("The right-footed footballer plays as the central-forward for "+ country)

Gabriel Jesus is a professional football player who plays as a striker for Arsenal and the Brazil national team.
Born on Apr 03, 1997 in Sao Paulo,
The right-footed footballer plays as the central-forward for Brazil

In [3]:
num1 = input("Enter First Number: ")
num2 = input("Enter Second Number: ")
result = float(num1) + float(num2)

print(result)

Enter First Number: 20
Enter Second Number: 4
24.0

<b>Madlibs</b>

In [4]:
color = input("Enter Color: ")
noun = input("Enter plural noun: ")
celebrity = input("Enter celebrity name: ")

print("Roses are "+ color + ",")
print(noun + " are blue,")
print("I love "+ celebrity + ".")

Enter Color: blue
Enter plural noun: violets
Enter celebrity name: ric
Roses are blue,
violets are blue,
I love ric.

# Lists

In [5]:
clubs = ["Arsenal","Chelsea","Tottenham","Liverpool","Man City","Man Utd"]
points = [60,67,64,81,89,55]
print(clubs[0])
print(clubs[-1])
print(clubs[1:])
print(clubs[1:3])

Arsenal
Man Utd
['Chelsea', 'Tottenham', 'Liverpool', 'Man City', 'Man Utd']
['Chelsea', 'Tottenham']

In [6]:
print(clubs.index("Liverpool"))
print(clubs.count("Tottenham"))
clubs.sort()

3
1

In [7]:
clubs.reverse()
clubs

['Tottenham', 'Man Utd', 'Man City', 'Liverpool', 'Chelsea', 'Arsenal']

In [8]:
clubs2 = clubs.copy()
clubs2

['Tottenham', 'Man Utd', 'Man City', 'Liverpool', 'Chelsea', 'Arsenal']

# Tuples

Can't be modified or changed.

In [9]:
coordinates = (4,5)
coordinates[1]

5

# Functions

In [10]:
def say_hi():
    print("Hello User")

say_hi()

Hello User

In [11]:
def sayHi(name, age):
    print("Hello "+ name + ", you are "+ age)
sayHi("Ric","25")
sayHi("Cielo", "30")

Hello Ric, you are 25
Hello Cielo, you are 30

In [12]:
def cube(num):
    return num*num*num

print(cube(4))

64

In [13]:
def cube(num):
    return num*num*num
result = cube(4)

print(result)

64

# If Statements

In [14]:
is_male = False
if is_male:
    print("You are male")
else:
    print("You are female")

You are female

In [16]:
is_male = input("Male = True, Female = False: ")
is_tall = input("Tall = True, Short = False: ")

if is_male and is_tall:
    print("You're a tall male")
elif is_male and not(is_tall):
    print("You're a short male")
elif not(is_male) and is_tall:
    print("You're a tall female")
else:
    print("You're neither male or tall")

Male = True, Female = False: False
Tall = True, Short = False: True
You're a tall male

In [20]:
def max_num(num1, num2, num3):
    if num1>=num2 and num2>=num3:
        return num1
    if num2>=num1 and num2>=num3:
        return num2
    else:
        return num3
print(max_num(300,70,100))

100

# Advanced Calculator

In [22]:
num1 = float(input("Enter First Number: "))
op = input("Enter Operator: ")
num2 = float(input("Enter Second Number: "))

if op == "+":
    print(num1+num2)
elif op == "-":
    print(num1-num2)
elif op == "/":
    print(num1/num2)
elif op == "*":
    print(num1*num2)
else:
    print("Invalid Operator")

Enter First Number: 20
Enter Operator: /
Enter Second Number: 2.89
6.920415224913494