# Introduction to NumPy

In [14]:
import numpy as np

In [1]:
arr = [6, 7, 8, 9]
print(type(arr))

<class 'list'>

In [2]:
a = np.array(arr)
print(type(a))

<class 'numpy.ndarray'>

In [3]:
print(a.shape)

(4,)

In [4]:
print(a.dtype)       #int64 ???

int32

In [5]:
#Width Dimennsions
print(a.ndim)

1

<b> MORE EXAMPLES <b>

In [6]:
b = np.array([[1, 2], [4, 5]])
print(b)

[[1 2]
 [4 5]]

In [7]:
print(b.ndim)

2

In [8]:
print(b.shape)

(2, 2)

# Intra - Operability

In [9]:
c = np.array([[9.8, 8.0, 7.0], [1.0, 2.0, 3.0]])
d = np.array([[4.0, 5.0, 6.0], [7.0, 8.0, 9.0]])

print(c + d)

[[13.8 13.  13. ]
 [ 8.  10.  12. ]]

In [10]:
print(c*d)

[[39.2 40.  42. ]
 [ 7.  16.  27. ]]

In [11]:
print(b[1,0])

4

In [12]:
print(c[0, 1])

8.0

# Introduction to Panda

In [13]:
import pandas as pd

In [ ]:
days = pd.series(["Monday", "Tuesday", "Wednesday", "Thursday"])

In [2]:
import pandas as pd

In [4]:
days = pd.Series(["Monday", "Tuesday", "Wednesday", "Thursday"])
print(days)

0       Monday
1      Tuesday
2    Wednesday
3     Thursday
dtype: object

In [9]:
days[0]

'Monday'

In [7]:
import numpy as np

In [8]:
days_list = np.array(['Monday', 'Tuesday', 'Wednesday'])
numpy_days = pd.Series(days_list)
print(numpy_days)

0       Monday
1      Tuesday
2    Wednesday
dtype: object

# Data Frames

In [2]:
import pandas as pd

In [3]:
print(pd.DataFrame())

Empty DataFrame
Columns: []
Index: []

In [4]:
df_dict = {'Country' : ['Ghana','Kenya','Nigeria','Togo'],
           'Capital' : ['Accra', 'Nairobi', 'Lagos','Lome'],
           'Population' : [10000, 85000, 35000, 75000],
           'Age' : [60,70,75,80]}

In [5]:
df = pd.DataFrame(df_dict, index = ['a','b','c','d'])

In [6]:
print(df)

   Country  Capital  Population  Age
a    Ghana    Accra       10000   60
b    Kenya  Nairobi       85000   70
c  Nigeria    Lagos       35000   75
d     Togo     Lome       75000   80

In [7]:
df_list = [['Ghana','Accra',10000,60],
           ['Kenya','Nairobi',85000,70],
           ['Nigeria','Lagos',35000,75],
           ['Togo','Lome',75000,80]]

In [8]:
df1 = pd.DataFrame(df_list, columns=['Country','Capital','Population','Age'], index = ['a','b','c','d'])

In [10]:
print(df1)

   Country  Capital  Population  Age
a    Ghana    Accra       10000   60
b    Kenya  Nairobi       85000   70
c  Nigeria    Lagos       35000   75
d     Togo     Lome       75000   80

<b> Accessors <b>

In [11]:
df.iloc[3] #Selects row at index 3

Country        Togo
Capital        Lome
Population    75000
Age              80
Name: d, dtype: object

In [13]:
df.loc['b'] #Selects row with index label 'a'

Country         Kenya
Capital       Nairobi
Population      85000
Age                70
Name: b, dtype: object

In [14]:
df['Country'] #Selects country column

a      Ghana
b      Kenya
c    Nigeria
d       Togo
Name: Country, dtype: object

In [17]:
df.at['d', 'Population']

75000

In [18]:
df.describe

<bound method NDFrame.describe of    Country  Capital  Population  Age
a    Ghana    Accra       10000   60
b    Kenya  Nairobi       85000   70
c  Nigeria    Lagos       35000   75
d     Togo     Lome       75000   80>

In [19]:
df.mean()

C:\Users\okiad\AppData\Local\Temp/ipykernel_1120/3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

Population    51250.00
Age              71.25
dtype: float64

In [23]:
df_mean = df['Population'].mean()
print(df_mean)

51250.0

In [24]:
df['Age'].sum()

285

In [25]:
df.isnull() #Displays null values in the dataframe as TRUE

   Country  Capital  Population    Age
a    False    False       False  False
b    False    False       False  False
c    False    False       False  False
d    False    False       False  False

In [26]:
df.dropna() #Deletes rows with missing Values

   Country  Capital  Population  Age
a    Ghana    Accra       10000   60
b    Kenya  Nairobi       85000   70
c  Nigeria    Lagos       35000   75
d     Togo     Lome       75000   80

# Data Types & Data Wrangling